# render.yaml
services:
  - type: web
    name: cloudtech-django
    env: python
    region: oregon
    plan: free
    buildCommand: |
      pip install -r requirements.txt
      python manage.py collectstatic --noinput
    startCommand: gunicorn backend.wsgi:application --bind 0.0.0.0:$PORT
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.5
      - key: DEBUG
        value: "False"
      - key: DATABASE_URL
        fromDatabase:
          name: neon-db
          property: connectionString
    postDeploy:
      - python manage.py migrate

databases:
  - name: neon-db
    plan: free
    region: oregon